body {
  background-color: var(--main-bg);
}

.card{
  // @include box-shadow;
  @include border-radius;
  // border: none;
  overflow: hidden;
}

.grow-none {
  flex-grow: 0;
}

.shrink-none {
  flex-shrink: 0;
}

.form-control {
  @include box-shadow;
}

// side bar
.sidebar {
  &-layout {
    position: relative;
    min-height: 600px;
    padding-left: 300px;
  }

  &-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    padding-right: 30px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        @include border-radius;
        @include transition(all ease-in-out 300ms);
        display: block;
        text-decoration: none;
        background-color: $primary-light-color;
        color: $white;
        padding: 20px;
        margin: 0 0 15px;
        font-size: rem(18px);
        font-weight: 600;
        text-align: center;

        i {
          font-size: 28px;
          margin-right: 10px;
        }

        span {
          display: inline-flex;
          align-items: center;
          min-width: 150px;
          text-align: left;
        }

        &:hover,
        &.active {
          background-color: $primary-color;
        }
      }
    }
  }
}

// custom slider
.custom-sldier {
  margin-bottom: 20px;
  padding-bottom: 30px;

  .slick {
    &-item {
      min-height: 385px;
      background-size: cover;
      background-position: center;
    }

    &-list {
      @include border-radius;
      overflow: hidden;
    }

    &-dots {
      @include list-style-none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;

      li {
        padding: 0 3px;
      }

      button {
        padding: 0;
        border: 0;
        height: 12px;
        width: 12px;
        background-color: var(--grey-color);
        font-size: 0;
        border-radius: 20px;
        cursor: pointer;
      }

      .slick-active {
        button {
          background-color: $primary-color;
        }
      }
    }
  }
}

// shadow-box
.shadow-box {
  @include box-shadow;
  @include border-radius;
  padding: 20px;
  margin: 0 0 20px;
}

// notification
.sec-title {
  border-bottom: 1px solid var(--grey-color);
  padding: 0 0 15px;
  margin: 0 0 15px;
}

.notifications {
  @include list-style-none;
  font-size: rem(16px);

  li {
    margin-bottom: 12px;
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 15px;
      background-color: $green;
    }

    &.imp-notice {
      &::before {
        background-color: $orange;
      }
    }

    a {
      text-decoration: none;
      color: $black;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .date {
      flex-shrink: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// custom select
.custom-select {
  @include box-shadow;
  @include border-radius;
  border: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE0IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yIDBMNyA1TDEyIDBMMTQgMUw3IDhMMCAxTDIgMFoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=");
  background-size: 10px;
  cursor: pointer;
}

// filter
.short-filter {
  display: flex;
  align-items: center;
  padding-left: 60px;
  position: relative;
  margin-bottom: 15px;

  label {
    flex-shrink: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 6px;
  }

  .custom-select {
    margin-left: 25px;
    max-width: 145px;
    margin-bottom: 10px;
  }
}

// media
@include media-breakpoint-down(lg) {
  .sidebar {
    &-layout {
      padding-left: 250px;
    }

    &-menu {
      width: 250px;
    }
  }
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
  .sidebar {
    &-layout {
      padding-left: 0;
    }

    &-menu {
      position: static;
      width: auto;
      margin-bottom: 15px;

      ul {
        display: flex;
        flex-wrap: nowrap;
        overflow-y: scroll;

        li {
          flex-shrink: 0;
          margin-left: 10px;

          &:first-child {
            margin-left: 0;
          }
        }

        a {
          font-size: rem(16px);
          padding: 10px 15px;

          i {
            font-size: rem(22px);
          }

          span {
            min-width: initial;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
}
