.course {
  &-item {
    display: block;
    height: calc(100% - 20px);

    .card-text,
    .catagory,
    .course-time {
      margin-bottom: 5px;
    }
  }

  &-list {
    .card {
      margin-bottom: 20px;
      position: relative;
      height: 100%;

      .status {
        background-color: var(--course-completed-color);
        writing-mode: vertical-rl;
        text-orientation: mixed;
        position: absolute;
        top: 0;
        right: 18px;
        font-size: rem(14px);
        font-weight: 600;
        color: $white;
        padding: 7px 1px 10px;
        letter-spacing: 1px;
        min-height: 100px;

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          border: 11px solid var(--course-completed-color);
          border-bottom-color: transparent !important;
          border-width: 5px 11px 17px 11px;
        }

        &.active {
          background-color: var(--course-active-color);

          &::after {
            border-color: var(--course-active-color);
          }
        }

        &.inactive {
          background-color: var(--course-inactive-color);

          &::after {
            border-color: var(--course-inactive-color);
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: $black;
    }

    .card-img {
      position: relative;
    }

    .division {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: rem(22);
      font-weight: 600;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }

    > .row {
      margin-bottom: -20px;
    }
  }
}

.student-name {
  display: flex;
  align-items: center;

  img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
  }
}
